initramfs/usr/bin/*
!initramfs/usr/bin/.gitkeep
!initramfs/usr/bin/bash
initramfs/usr/sbin/*
initramfs/usr/lib/modules/*
!initramfs/lib/modules/.gitkeep
out
ScuffedUtils/*
linux
iso
initramfs.cpio
initramfs.cpio.zst
scuffed-initrd.iso
bash
kernel
linux.tar.zstd
ScuffedUtils/